.listChange{list-style-type: none;}.newProjectBox{display: none; background-color: white; height: 600px; float: left; border: 1px solid black; margin-right: -400px; border-radius: 8px; z-index: 1; overflow: scroll;}